<script src="{{url_for('static',filename='toastr.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/toastr.min.css')}}">
{%macro imprime_formulario(campo)%}
	<td> {{campo.label}}
		
	<dd> {{campo(**kwargs)| safe}}
	
	{%if campo.errors%}
		{%for error in campo.errors%}
			
			<script type="text/javascript">
				
				$(document).ready(function(){ 
    $("#hecho").click(function(){
        //tipos de mensajes succes, info, warning, error
        //titulo y mensaje de texto
        toastr["warning"]("{{error}}", "Cuidado");   
        
    
    });
    
    toastr.options = { 
        //primeras opciones
        "closeButton": false, //boton cerrar
        "debug": false,
        "newestOnTop": false, //notificaciones mas nuevas van en la parte superior
        "progressBar": true, //barra de progreso hasta que se oculta la notificacion
        "preventDuplicates": false, //para prevenir mensajes duplicados
        
        "onclick": null,
        
        //Posición de la notificación
        //toast-bottom-left, toast-bottom-right, toast-bottom-left, toast-top-full-width, toast-top-center
        "positionClass": "toast-top-right",
                
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
        "tapToDismiss": false
    };
    
    
    
    
    
});	    

			</script>

		{%endfor%}
	{%endif%}
{%endmacro%}