<script src="{{url_for('static',filename='toastr.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/toastr.min.css')}}">
{%macro imprime_formulario(campo)%}
	<td> {{campo.label}}
		
	<dd> {{campo(**kwargs)| safe}}
	
	{%if campo.errors%}
		{%for error in campo.errors%}
			
		<script >
		toastr.options.closeButton = true;
		toastr.options.timeOut = 20000;
        toastr.options.closeMethod = 'fadeOut';
		toastr.options.closeDuration = 1900;
		toastr.options.closeEasing = 'swing';

        toastr.warning('Disculpe, {{error}}')

    	</script> 

		{%endfor%}
	{%endif%}
{%endmacro%}