<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable-no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
		<title>Page Title</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="css/maqueta.css">
		<link rel="stylesheet" href="css/carrusel.css">
		<link rel="stylesheet" href="css/menu.css">
		<link rel="stylesheet" href="mm.css">
	</head>
	<body>
<header>
			<div class="menu_bar">
				<a href="#" class="btmenu">Menu</a>
			</div>
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Historia</a></li>
					<li><a href="#">Objetivos</a></li>
					<li><a href="#">Registro</a></li>
					<li><a href="#">Preinscripción</a></li>
				</ul>
			</nav>
			<section>
				<p>gagjghhweuhguhauhgjksfdngjknkfagbjkbewbgjkbgkjbwekjgbwjkbgjkwebgjbewgbwkjgbwejbgejbgjwebgjebgkwebjgwekjgbwejkgbjwegjwebgwegjbewjgewjkbgkjew</p><br>
				<p>gagjghhweuhguhauhgjksfdngjknkfagbjkbewbgjkbgkjbwekjgbwjkbgjkwebgjbewgbwkjgbwejbgejbgjwebgjebgkwebjgwekjgbwejkgbjwegjwebgwegjbewjgewjkbgkjew</p><br>
				<p>gagjghhweuhguhauhgjksfdngjknkfagbjkbewbgjkbgkjbwekjgbwjkbgjkwebgjbewgbwkjgbwejbgejbgjwebgjebgkwebjgwekjgbwejkgbjwegjwebgwegjbewjgewjkbgkjew</p>
			</section>
		</header>
		<script src="js/jquery-3.4.1.min.js"></script>
		<script src="js/funcion.js"></script>
	</body>
</html>