<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="{{url_for('static', filename='css/maqueta.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
		<title>Inicio - E.T.C.R. Hermágoras Chavéz</title>
	</head>
	<body>
		<header class="header">
			<div class="elogo">
				<img src="{{url_for('static', filename='images/escudoh.png')}}" class="logo">
			</div>
			<div class="titulo">
				Escuela Técnica Comercial Robinsoniana "Hermágoras Chávez"
			</div>
		</header>
		<!--.
			.
		.-->
		<div class="contemenu">
			<div class="menu_bar">
				<a href="#" class="btmenu">Menu</a>
			</div>
			<nav>
				<ul>
					<li><a href="#">Perfil</a></li>
					<li><a href="#">Preinscripción</a></li>
					<li><a href="#">Reporte</a></li>
				</ul>
			</nav>
		</div>
		<!--.
					.
		.-->
		<div class="dcontenedor">
			<div class="eseccion">
				feo cesar
			</div>
			
			<footer class="footer">
				<p>Copyright &copy; E.T.C.R. HERMÁGORAS CHAVÉZ - 2020 <br></p>
			</footer>
		</div>
		<script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/funcion.js')}}"></script>
	</body>
</html>