{% from "_macros.html" import imprime_formulario %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="{{url_for('static', filename='css/maqueta2.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/preinscrpcion.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/toastr.min.css')}}">
		<script src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/toastr.min.js')}}"></script>
		<title>Inicio - E.T.C.R. Hermágoras Chavéz</title>
	</head>
	<body>

		{% with mensajes = get_flashed_messages()%}
		{% if mensajes %}
			{%for mensaje in mensajes%}
			<script type="text/javascript">
			toastr.options.closeButton = true;
			toastr.options.timeOut = 6000;
        toastr.options.closeMethod = 'fadeOut';
		toastr.options.closeDuration = 1900;
		toastr.options.closeEasing = 'swing';


        toastr.success('{{mensaje}}', 'Inicio')
		</script>
			{%endfor%}
			{%endif%}
			{%endwith%}
		<header class="header">
			<div class="elogo">
				<img src="{{url_for('static', filename='images/escudoh.png')}}" class="logo">
			</div>
			<div class="titulo">
				Escuela Técnica Comercial Robinsoniana "Hermágoras Chávez"
			</div>
		</header>
		<!--.
			.
		.-->
		<div class="contemenu">
			<div class="menu_bar">
				<a href="#" class="btmenu">Menu</a>
			</div>
			<nav>
				<ul>
					<li><a href="perfil">Perfil</a></li>
					<li><a href="preinscripcion">Preinscripcion</a></li>
					<li><a href="salir">Salir</a></li>
				</ul>
			</nav>
		</div>
		<!--.
					.
		.-->
		<div class="dcontenedor">
			<div class="eseccion">
				<div class="loginBox">
					<form method="POST">
						{{imprime_formulario(forms.nombre, placeholder='Nombre')}}
						{{imprime_formulario(forms.apellido, placeholder=' ejemplo Perez')}}
						{{imprime_formulario(forms.cedula, placeholder=' ejemplo 24370551')}}
						{{imprime_formulario(forms.escuela, placeholder=' ejemplo General Rafael Urdaneta')}}
						{{imprime_formulario(forms.edad, placeholder=' ejemplo 12')}}
						<input type="submit" name="" value="Hecho">
						<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
					</div>
				</form>
			</div>
			<div class="fseccion">
				<img src="{{url_for('static', filename='images/wallpappers/people.png')}}" width="100%" class="center">
			</div>
			<footer class="footer">
				<p>Copyright &copy; E.T.C.R. HERMÁGORAS CHAVÉZ - 2020 <br></p>
			</footer>
		</div>
		
	</body>
</html>