<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="{{url_for('static', filename='css/registro.css')}}">
		<title>Registro - E.T.C.R. Hermágoras Chavéz</title>
	</head>
	<body>
		<header class="header">
			<div class="elogo">
				<img src="{{url_for('static', filename='images/escudoh.png')}}" class="logo">
			</div>
			<div class="titulo">
				Escuela Técnica Comercial Robinsoniana "Hermágoras Chávez"
			</div>
		</header>
		<div class="loginBox">
			<h2>Registrese aquí</h2>
			<form>
				<p>Usuario</p>
				<input Type="text" name="" placeholder="usuario / correo electrónico">
				<p>Contraseña</p>
				<input type="password" name ="" placeholder="••••••••">
				<input type="submit" name="" value="Hecho">
				<!--a href="#">Forget Password</a-->
			</form>
		</div>
	</body>
</html>