<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="{{url_for('static', filename='css/estiplan.css')}}">
		<title>Page Title</title>
	</head>
	<body>
		<!--div class="alogo">
			<img src="{{url_for('static', filename='images/escudoh.svg')}}" height="80px">
	</div>
	<header>
			<strong><p class="p2">República Bolivariana de Venezuela<br>Ministerio del Poder Popular para la Educación<br>Escuela Técnica Comercial Robinsoniana<br>"Hermágoras Chavéz"<br>Cabimas, Estado-Zulia</p></strong>
	</header>
	<div class="blogo">
			<img src="{{url_for('static', filename='images/mineduc.png')}}" height="80px">
	</div>
	.----------->
	<div class="barra">
		<p class="p2"><strong>República Bolivariana de Venezuela<br>Ministerio del Poder Popular para la Educación<br>Escuela Técnica Comercial Robinsoniana<br>"Hermágoras Chavéz"<br>Cabimas, Estado-Zulia</strong></p>
	</div>
<br>
	<img src="{{url_for('static', filename='images/escudo_c.png')}}" class="center">

	<div class="contenido">
		<h1>Comprobante de Preinscripción</h1>
		<br>
		<p class="p1">La E.T.C.R. Hermágoras Chavéz hace constar que el(la) ciudadano(a) {{repre.apellido}}, {{repre.nombre}} con cédula de identidad: {{repre.cedula}}, realizó la(s) siguiente(s) preinscripción(es):</p>
		<br>
		{{tabla}}
	</div>
</body>
</html>